<div id="header">
  <div style="float:left; height: 70px; margin-right: 20px;">
    <a href="http://www.droitauvelo.org"><img src="adav.jpg" alt="Logo ADAV" height="50px" /></a>
  </div>
  <h1 style="text-transform:upppercase; font-size:150%;">Représentation cartographique du Nord-Pas de Calais à Vélo</h1>
  <div>par l’<a href="http://www.droitauvelo.org">Association Droit Au Vélo</a> à partir des données <a href="http://www.openstreetmap.fr">OpenStreetMap</a></div>
</div>
